body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Site {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Site-header {
    flex: none;
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}
.Site-content::after {
    content: "\00a0";
    display: block;
    margin-top: var(--space);
    height: 0px;
    visibility: hidden;
}
@media (--break-lg) {
    .Site-content {
        padding-top: var(--space-lg);
    }
    .Site-content::after {
        margin-top: var(--space-lg);
    }
}

.Site-content--full {
    padding: 0;
}
.Site-content--full::after {
    content: none;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ui .cards {
    min-height: 300px;
    min-width: 300px;
}

.footer {
    margin-top: auto;
}

.footer p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
    margin-top: auto;
}
